.account-container:hover {
    background-color: #f6fbff;
}

.list-icons-account  {
    .iconUpDown:hover {
        transform: scale(1.2);
    }
    .icon-trash:hover {
        transform: scale(1.2);
    }
}

// Icon
.iconUpDown {
    display: none;
}

.account-container:hover .iconUpDown {
    display: inline-block;
}